services:
  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - 25000:25000
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
