services:
  frontend:
    container_name: frontend
    build:
      context: .
      dockerfile: Dockerfile.prod
    ports:
      - 25000:5173
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
